@import "components/site-header.css";
@import "components/hero.css";
@import "components/customer-service-chat.css";
@import "components/promotion.css";
@import "components/icon-menu.css";

* {
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

main {
  height: 100%;
}

body {
  height: 2000px;
}

/* body * {
    border: 1px solid black;
} */
