.hero {
  width: 80%;
  margin: 0 auto 20px auto;
}

.hero > div {
  display: flex;
  gap: 10px;
}

.hero h1 {
  text-align: center;
  margin-bottom: 15px;
}

.hero .product-card {
  position: relative;
  flex-grow: 1;
}

/* lägg product-card i egen fil */
.hero .product-card img {
  width: 100%;
}

.hero .product-card svg {
    position: absolute;
    right: 10px;
    bottom: 10px;
    /* top, left, bottom, right */
}
